<html>
<head>
    <title>Food Finder</title>
</head>
<body>
    <h1>Check out these cuisines</h1>

    <p>Add a new cuisine:</p>

    <form action="/cuisines" method="post">
        <label for="type">Cuisine type:</label>
        <input id="type" name="type" type="text">

        <button type="submit">Add Cuisine</button>
    </form>

    {% if cuisines is not empty %}
        <p>Here are all your cuisines:</p>
        <ul>
            {% for cuisine in cuisines %}
                <li><a href="/cuisine/{{ cuisine.getId }}">{{ cuisine.getType }}</a><a href='/cuisines/{{ cuisine.getId }}/edit'>edit</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <p>There are no cuisines yet, add some!</p>
    {% endif %}

    {% if form %}
        <form action="/cuisines" method="post">
            <input name="_method" type="hidden" value="patch">
            <input name="current_cuisineId" type="hidden" value="{{ current_cuisine.getId() }}">
            <input type="text" name="type">
            <button type="submit" name="button">Edit Name</button>
        </form>
    {% endif %}

</body>
</html>
